
html{
    font-family: Lato;
    font-weight: 400;
}

a {text-decoration: none; }

a:visited {text-decoration: none; }

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

section{
    margin-left: 0;
    margin-right: 0;
}
/**
    Gerais
**/
.textfooter{
    text-align: left;
}
@media(max-width:768px){
    .textfooter{
        text-align: center !important;
        padding-top: 15px;
    }
}
h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 48px;
    line-height: 48px;
}
h2{
    font-size: 24px;
    line-height: 24px;
}
h3{
    font-size: 42px;
}
p{
    font-size: 16px;
    line-height: 19px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 12px;
}
@media(max-width:768px){
    h1{
        font-size: 30px;
        line-height: 30px;
    }
    h2{
        font-size: 18px;
        line-height: 22px;
        padding: 0 20px;
    }
    p{
        font-size: 12px;
        line-height: 16px;
    }
}
.padt25{
    padding-top: 23px;
}
.padt252{
    padding-left: 40px;
}
.gerenciapad{
    padding: 40px 0px 150px 0px !important;
}
.centralize{
    text-align: center;
}
.no-padding{
    padding: 0;
}
.recursospace{
    padding-bottom: 100px !important;
}
.paddingzero{
    padding: 0px !important;
}
.plantext1{
    font-size: 22px;
    font-weight: 300;
    font-family: Lato;
}
.button{
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    background-color: #FEAC00;
    border: 1px solid #FEAC00;
    color: white;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 400;
}
.logo60{
    width: 60px;
}
.textleft{
    text-align: left;
}
.footertext{
    margin-top: 100px;
    padding-top: 25px;
    border-top: 1px rgba(255, 255, 255, 0.2) solid;
    color: #FFF;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    font-family: Lato;
}
.button:hover{
    text-decoration: none;
    background-color: white;
    border-color: #3D729A;
    color: #3D729A;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button2{
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    background-color: #34495e;
    border: 1px solid #34495e;
    color: white;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 400;
}
.button2:hover{
    text-decoration: none;
    background-color: white;
    border-color: #3D729A;
    color: #3D729A;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.call-to-action{
    margin-top: 50px;
}
a.link{
    color: #EFA200;
    border-bottom: 1px solid #EFA200;
    padding: 0 10px 3px 10px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.link:hover{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.alinhamento-esquerdo h1, .alinhamento-esquerdo h2, .alinhamento-esquerdo p{
    text-align: left;
}

/**
    Backgrounds
**/
.gradiente-bg{
    background: #3D729A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3D729A, #5693AB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3D729A, #5693AB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3D729A, #5693AB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3D729A, #5693AB); /* Standard syntax */
}
.cinza-bg{
    background-color: #E3E9F2;
}
.escuro-bg{
    background-color: #444;
}
.baixo{
    padding: 80px 0px 80px 0px !important;
}
.branco{
    color: #FFF;
    font-size: 20px;
    font-family: Lato;
    font-weight: 400;
}
.socialimg{
    width: 33px;
}
.socialmedia{
    padding: 0px 0px 20px 0px;
}
.socialicon{
    padding: 5px 10px 0px 0px
}
a.linkfooter{
    color: #FFF;
    font-size: 13px;
    font-family: Lato;
    font-weight: 300;
    margin-top: 10px;
}
a.linkfooter:hover{
    color: #DDD;
}
.font14{
    font-size: 14px;
}
.linkfooterspace{
    padding: 5px 0px 5px 0px;
}
.azul-bg{
    background-color: #5693AB;
}
.branco-bg{
    background-color: #FFF;
}
.gradiente-bg h1,p, .azul-bg h2{
    color: white;
}
.branco-bg h2,h3,h4,h1 .cinza-bg h2,h3,h4,h1{
    color: #3D729A;
}
.branco-bg p,h5{
    color: #868E9A;
}
.cinza h2{
    color:#868E9A;
}
.azul h2{
    color: #3D729A;    
}
.branco-bg .button:hover{
    background-color: white;
    border-color: #3D729A;
    color: #3D729A;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gradiente-bg .button:hover, .blue-bg .button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/**
    section
**/
.content-section{
    padding: 80px 0 40px 0;
    text-align: center;
}
.gratis{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 5px 40px 5px 20px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(41,128,185, 0.8)
}
.gratis img{
    width: 40px;
    height: 40px;
}
.gratis .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    flex-wrap: wrap;
}
.gratis .content a{
    margin-left: 20px;
}
.content-section .title{
    margin-bottom: 40px;
}
.content-section .title-plan{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-section .plan-image{
    width: 40px;
    height: auto;
    margin-right: 20px;
}
section img{
    width: 100%;
}
@media(max-width: 768px){
    .content-section{
        padding: 30px 0 30px 0;
        text-align: center;
    }
    .content-section .title{
        margin-bottom: 20px;
    }
}
/**
    Header
**/
header{
    padding: 20px 0;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
header.affix{
    border-bottom: 1px #CCC solid;
}
header .logo{
    width: 160px;
    padding-top: 10px;
}
header ul{
    padding-top: 25px;    
}
header ul>li>a{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}
header .button{
    margin-top: 15px;    
}
@media(max-width: 768px){
    header{
        padding: 10px 0;
    }
    header .logo{
        width: 40px;
    }
}
/**
    Menu Lateral
**/
.monitorpad{
    padding-bottom: 100px;
    padding-top: 100px;
}
.monitorh2{
    padding: 25px;
    font-size: 25px;
}
.monitortxt{
    font-size: 20px !important;
    font-weight: 300 !important;
    font-family: Lato !important;
}
.hamburguer{
    padding-top: 10px;
    color: #FEAC00;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hamburguer:hover{
    color: #3D729A;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
aside{
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: white;
    box-shadow: -1px 0 10px #3D729A;
    z-index: 10;
}
.content-menu{
    padding: 20px 20px;
}
.close-menu{
    color: #FEAC00;
}
.close-menu:hover{
    color: #3D729A;
    cursor: pointer;
}
aside .content-menu ul{
    padding: 40px 0 0 0;
}
aside .content-menu ul>li{
    color: white;
    padding: 10px 0;
}
aside .content-menu ul>li>a{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}
.closed{
    -ms-transform: translateX(200px); /* IE 9 */
    -webkit-transform: translateX(200px); /* Chrome, Safari, Opera */
    transform: translateX(200px);
    display: none;
}
.opened{
    display: block;
}
/**
    Topo
**/
.topo{
    margin-top: 100px;
}
.topo h1{
    padding-top: 110px;
}
.topo img{
    padding: 80px 0 40px 0;
}
.topo p{
    margin-bottom: 50px;
}
@media(max-width: 768px){
    .topo{
        margin-top: 40px;
    }
    .topo h1{
        padding-top: 30px;
    }
    .topo img{
        padding: 50px 0 30px 0;
    }
}
/**
    home-clientes-section
**/
.home-clientes-section{
    padding: 25px 0;
    padding-top: 35px;
    text-align: center;
}
.home-clientes-section img{
    padding: 0 40px;
}
@media (max-width: 768px){
    .home-clientes-section img{
        padding: 20px 40px;
    }
}
.linha-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/**
    Serviços section
**/
.services img{
    padding: 0 50px;
}
@media(max-width: 768px){
    .services>div{
        margin-bottom: 30px;
    }
}
/**
    Destribuido pelo mundo Section
**/
.countries div{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.countries p{
    margin-top: 40px;
    text-transform: uppercase;
}
.countries h3{
    margin: 20px 0 100px 0;
}
.countries h4{
    margin: 20px 0;
}
.contato{
    background-color: #2980b9;
    padding-bottom: 100px;
}
.btncontato{
    padding: 20px 40px 20px 40px;
}
.rowcountries{
    padding-top: 50px;
}
.nolink{
    cursor: default;
}
#br{
    background-image: url("../images/br.png")
}
#us{
    background-image: url("../images/us.png")
}
#ca{
    background-image: url("../images/ca.png")
}
#fr{
    background-image: url("../images/fr.png")
}

/**
    footer
**/

footer h4, footer ul li{
    text-align: left;
}
footer img{
    width: 100%;
}
footer .facebook-div{
    text-align: right;
    padding: 10px 0;
}
footer .facebook-div .facebook{
    text-align: right;
    width: 32px;
}
footer ul li>a{
    font-size: 16px;
    color: #4E5E77;
}
@media(max-width: 768px){
    footer.content-section{
        text-align: left;
    }
    footer .logo{
        width: 100px;
    }
    footer .facebook-div{
        text-align: left;
    }
    footer .facebook-div .facebook{
        text-align: left;
    }
}

/***************************************
        Página de preços
***************************************/
.pricing-topo-image{
    margin-bottom: -60px;
}
@media ( min-width: 768px ){
    .pricing-topo-image img{
        width: 90%;
    }
}

/**
    Recursos section
**/
#precos .recursos{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.recursos div{
    margin-top: 20px;
    padding: 15px;
}
.recursos img{
    padding: 0 50px;
}
.recurso{
    width: 25%;
}
@media (max-width: 768px) {
    .recurso{
        width: 50%;
    }
    #precos .recursos{
        margin-top: 20px;
        align-items: flex-start;
    }
}
@media(max-width: 540px){
    .recurso{
        width: 50%;
    }
}

/**
    Sistemas operacionais
**/
.sistemas-operacionais{
    display: flex;
    padding: 0px 200px 40px 200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width: 768px){
    .sistemas-operacionais{
        padding: 0px 50px 40px 50px;
    }
    .sistemas-operacionais .coluna{
        padding: 10px 10px;
    }
}

/**
    What is possible section
**/
#what-possible{
    text-align: center;
}
#what-possible img{
    width: 115px;
}
@media(max-width: 768px){
    .possibility{
        margin-top: 50px;
    }
    #what-possible .call-to-action{
        margin-top: 20px;
    }
}
/**
    Planos e preços
**/
.center{
    text-align: center;
}
.padh2{
    padding-bottom: 30px;
}
.padbottom{
    padding-bottom: 100px;
}
.pricing{
    margin-bottom: 100px;
}
.pricing .carousel-cell{
    width: 20%;
    padding: 40px 40px 30px 40px;
    border: 1px solid #EEEEEE;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.pricing .carousel-cell p:first-of-type{
    text-align: left;
}
.pricing .carousel-cell .esquerda p{
    font-size: 20px;
    padding-right: 5px;
    text-align: right;
}
.pricing .carousel-cell .direita p{
    padding-left: 5px;
    text-align: left;
}
.pricing .carousel-cell p{
    padding: 0;
    margin: 0;
}
.pricing .carousel-cell h2 strong{
    font-size: 46px;
}
.pricing .carousel-cell .price-item{
    padding: 10px 0;
}
.pricing .carousel-cell .price-item:nth-of-type(2){
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.pricing .carousel-cell .price-item:first-of-type{
    padding-top: 40px;
}
.pricing .carousel-cell.is-selected, .carousel-cell.is-selected h2, .carousel-cell.is-selected p {
  background-color: #3D729A;
  border-color: #3D729A;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pricing .carousel-cell.is-selected .price-item:nth-of-type(2){
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media(max-width: 1080px){
    .pricing .carousel-cell{
        width: 33%;
    }
}
@media (max-width: 768px) {
    .pricing .carousel-cell{
        width: 33%;
    }
}
@media(max-width: 540px){
    .pricing .carousel-cell{
        width: 80%;
        margin-left: 10%;
    }
    .pricing .flickity-prev-next-button {
        display: none;
    }
}
/**
    Funções Dashboard
**/
.funcoes-dashboard{
    text-align: left;
}
.funcoes-dashboard .funcao{
    margin: 32px 0;
}
.funcoes-dashboard .funcao:hover{
    cursor: pointer;
}
.funcoes-slider .carousel-cell{
    width: 100%;
}
.funcoes-slider .carousel-cell .funcao{
    display: none;
}
@media(max-width: 768px){
    .funcoes-slider .carousel-cell .funcao{
        display: block;
    }
    .funcoes-slider .carousel-cell.is-selected h2{
        background-color: white;
        color: #3D729A;
    }
    .funcoes-dashboard{
        display: none;
    }
    .funcoes-slider{
        margin-bottom: 50px;
    }
}
/**
    Cloud Gerenciada
**/
#gerenciada .topo img{
    padding: 20px 0 0 0;
}
/**
    Não importa onde está hospedado
**/
.concorrencia{
    width: 60%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/**
    Compare e contrate
**/
.contrate-container{
    padding: 40px 40px 30px 40px;    
    background-color: #3D729A;
    border-color: #3D729A;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contrate-container h2, .contrate-container p{
    color: white;
}
.contrate-container h2 strong{
    font-size: 46px;
}
.contrate-container .price-item:first-of-type{
    border-bottom: 1px solid white;
    padding: 30px 0 0 0;
}
.gerente-container{
    padding: 20px 0;
}
.gerente-container-interno{
    padding: 40px 40px 30px 40px;
    border: 1px solid #eee;
}
.gerente-container-interno ul{
    padding: 30px 0 20px 0;
}
@media(max-width: 768px){
    .gerente-container{
        padding: 0 40px;
    }
    .gerente-container-interno{
        padding: 20px 20px 10px 20px;
        border: 1px solid #eee;
    }
    .contrate-container{
        padding: 20px 30px 10px 30px;    
        margin: 0 20px;
    }
}

/**
    Animações
**/
.container-animation{
    position: relative;
}
.animation{
    position: absolute;
}
#frente1{
    right: -10%;
    bottom: 10%;
}
#frente2{
    top: 3%;
    left: 5%;
    z-index: 2;
}
#fundo1{
    top: 1%;
    left: 4%;
    z-index: 1;
}
#fundo2{
    top: -2%;
    right: 0%;
}

@media(max-width: 768px){
    .frente, .fundo{
        width: 60%;
    }
    .container-animation{
        overflow-y: visible;
        overflow-x: hidden;
    }
    #frente1{
        right: -10%;
        bottom: 2%;
    }
}

.floatone{
    animation: float1 6s ease-in-out infinite;
}
.floattwo{
    animation: float2 3s ease-in-out infinite;    
}
.floatthree{
    animation: float3 3s ease-in-out infinite;        
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float3 {
	0% {
		transform: translatey(0px);
    }
	25% {
		transform: translatey(-20px);
    }
	100% {
		transform: translatey(0px);
	}
}

/**
    Contato Page
**/
.loading{
    width: 25px;
}
.padcontato{
    padding-top: 50px;
}
#contato .title h1,p{
    text-align: left;
    padding-top: 15px;
}
#contato header{
    box-shadow: 0 1px 5px #CCC;
}
#contato .animation{
    top:0;
    left: 0;
    width: 100%;
}
#contato .branco-bg{
    background-color: rgba(255,255,255, 0.4);
}
.contact-form{
    z-index: 2;
    margin-bottom: 100px;
    padding: 30px 20px;
    border-radius: 20px;
    /*box-shadow: 0 1px 5px #3D729A;*/    
}
.contact-form input,textarea{
    width: 100%;
    margin: 15px 0;
    padding: 15px 20px;
    border: 1px solid #9ea5a9;
    resize: none;
}
.contact-form .button{
    width: 100%;
}
:required {
    box-shadow: none;
}


/**
    Server out
**/
#serverOut .header{
    background-image: url("../images/BG-Header.png");
    height: 100vh;
    background-position: bottom;
    text-align: right;
    background-size: cover;
}

#serverOut .header h1{
    font-size: 60px;
    color: white;
    margin-top: 200px
}

#serverOut .header .logo{
    margin-top: 30px;
}

#serverOut .header .button{
    margin-top: 30px;
}

#serverOut span{
    color: #3D729A;
    font-size: 120px;
}

#serverOut span b{
    font-size: 240px;
}

#serverOut .container-fluid{
    padding: 0;
}

#serverOut .container-fluid .row{
    margin: 0;
    padding: 0;
}

#serverOut h2{
    font-size: 50px;
    line-height: 60px;
    color: #3D729A;
}

#serverOut .graficos-section{
    background-image: url("../images/BG-Graficos.png");
    background-position: top;
    background-size: cover;
}

#serverOut .graficos-section h2{
    color: #fff;
}

#serverOut h3{
    font-size: 25px;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}

#serverOut .call-to-action{
    margin-top: 0px;
    margin-bottom: 50px;
}

@media(max-width: 540px){
    #serverOut .header{
        background-image: url("../images/BG-Header-Mobile.png");
        text-align: center;
    }
    #serverOut .header h1{
        font-size: 36px;
        margin-top: 90px;
        line-height: 44px;
    }
    #serverOut .header .logo{
        margin-bottom: 30px;
    }
    #serverOut .quebra{
        display: none;
    }
    #serverOut span{
        font-size: 60px;
    }
    #serverOut span b{
        font-size: 120px;
    }
    #serverOut h2{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 50px;
    }
}